@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

@font-face {
    font-family:"DOS437";
    src: url("font/DOS437/Perfect\ DOS\ VGA\ 437.ttf");
}

.oldDefaultFont {
    font-family: "Times New Roman", "Lora", "Times New Roman OS", serif;
}

.indextitle {
    font-size: 60px;
}

.linkbutton { /* this wont be used */
    color: blue;
    padding:2px;
    border:none;
    background-color: transparent;
    font-size:15.8px;
    text-decoration: underline;
}
.linkbutton:active {
    color: orange;
}

.CMDSequence {
    font-family: "DOS437" !important;
    font-size: 16px !important;
}

body {
    background-color: black;
    color: white;
}

.cmdfont {
    font-family: "DOS437";
}

.cmdItem {
    margin-top: 2px;
}

.defaultFont {
    font-family: "DOS437", monospace;
    font-size:16px;
}
p.defaultFont {
    font-size:16px;
}
h1.defaultFont {
    font-size:32px;
}
.defaultFont.plzBeLarge {
    font-size:64px;
}

.powericon {
    cursor: pointer;
}